# Dependencies
node_modules/

# Build
dist/
build/

# Uploads
uploads/

# Env
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Coverage / Tests
coverage/
.nyc_output/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temp
.temp
.tmp
*.pid
*.seed
*.pid.lock
